[submodule "forms/privacy"]
	path = forms/privacy
	url = git@github.com:licensezero/licensezero-privacy
[submodule "forms/agency"]
	path = forms/agency
	url = git@github.com:licensezero/licensezero-agency-terms
[submodule "forms/service"]
	path = forms/service
	url = git@github.com:licensezero/licensezero-terms-of-service
[submodule "forms/waiver"]
	path = forms/waiver
	url = git@github.com:licensezero/licensezero-waiver
[submodule "routes/questions"]
	path = routes/questions
	url = git@github.com:licensezero/licensezero-questions
[submodule "forms/noncommercial-license"]
	path = forms/noncommercial-license
	url = git@github.com:licensezero/licensezero-noncommercial-public-license
[submodule "forms/reciprocal-license"]
	path = forms/reciprocal-license
	url = git@github.com:licensezero/licensezero-reciprocal-public-license
[submodule "forms/relicense-agreement"]
	path = forms/relicense-agreement
	url = git@github.com:licensezero/licensezero-relicense-agreement
[submodule "forms/quotes"]
	path = forms/quotes
	url = git@github.com:licensezero/licensezero-quotes
[submodule "forms/permissive-license"]
	path = forms/permissive-license
	url = git@github.com:licensezero/licensezero-permissive-public-license
[submodule "forms/private-license"]
	path = forms/private-license
	url = git@github.com:licensezero/licensezero-private-license
