[submodule "forms/privacy"]
	path = forms/privacy
	url = git@github.com:licensezero/licensezero-privacy
[submodule "forms/agency"]
	path = forms/agency
	url = git@github.com:licensezero/licensezero-agency-terms
[submodule "forms/public-license"]
	path = forms/public-license
	url = git@github.com:licensezero/licensezero-public-license
[submodule "forms/private-licenses"]
	path = forms/private-licenses
	url = git@github.com:licensezero/licensezero-private-licenses
[submodule "forms/service"]
	path = forms/service
	url = git@github.com:licensezero/licensezero-terms-of-service
[submodule "forms/waiver"]
	path = forms/waiver
	url = git@github.com:licensezero/licensezero-waiver
[submodule "routes/questions"]
	path = routes/questions
	url = git@github.com:licensezero/licensezero-questions
