License Zero Private Waiver {{{version}}}

Beneficiary:  {{{beneficiary}}}
              {{{beneficiaryJurisdiction}}} (ISO 3166-2)

Licensor:     {{{name}}}
              {{{jurisdiction}}} (ISO 3166-2)

Agent:        {{{agentName}}}
              {{{agentJurisdiction}}} (ISO 3166-2)
              {{{agentWebsite}}}

Product:      {{{productID}}}
              {{{description}}}
              {{{repository}}}

Date:         {{{date}}} (ISO 8601)

Term:         {{#term}}{{{term}}} calendar days{{/term}}{{^term}}forever{{/term}}

The Licensor hereby irrevocably waives Condition 3 of the
License Zero Public License:

1.  as applied to the Product that is available for license
    through the Agent

2.  for the Beneficiary, as well as Beneficary employees and
    natural-person independent contractors providing services
    to Beneficiary

3.  for the Term

Licensor expects Beneficiary, its employees, and its contractors to rely
on this waiver in using the Project without an additional license.
