html {
  font-family: sans-serif;
  line-height: 1.4;
}

body {
  text-align: center;
}

header, main, footer, nav[role=navigation] {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  text-align: left;
}

header {
  text-align: center;
}

footer {
  border-top: 1px solid black;
  clear: both; /* keeps vending machines from overflowing */
  font-size: 90%;
  padding-bottom: 5rem;
  padding-top: 0.5rem;
  text-align: right;
}

footer p {
  margin-top: 0;
}

main {
  padding-bottom: 2rem;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%
}

td, th {
  padding: 1ex 0 1ex 0;
  vertical-align: top;
}

td p:first-child {
  margin-top: 0;
  padding-top: 0;
}

table .price {
  text-align: right;
}

tfoot.total td {
  border-top: 4px double black;
}

.subtotal tr:first-child td {
  border-top: 1px solid black;
}

tbody.subtotal tr td:first-child {
  text-align: right;
}

tfoot.total td:first-child {
  font-weight: bold;
  text-align: right;
}

form input[type=text],
form input[type=submit],
form input[type=email],
form textarea {
  box-sizing: border-box;
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
}

a {
  border-bottom: 1px dashed #999;
  color: black;
  text-decoration: none;
}

header a {
  border: none;
}

a:hover {
  color: #977;
}

form section {
  padding: 0.5rem 0;
}

/* <dl> */

dl {
  display: block;
  width: 100%;
}

dt, dd {
  margin: 0;
  padding-bottom: 1rem;
}

dt:last-child, dd:last-child {
  padding-bottom: 0;
}


dt {
  clear: left;
  float: left;
  width: 30%;
}

dd {
  float: left;
  margin: 0;
  width: 70%;
}

dd pre {
  margin: 0;
  padding: 0;
}

dl:after {
  clear: both;
  content: '';
  display: table;
}

h2, h3 {
  padding-top: 1rem;
}

.license {
  margin: 0;
  padding-left: 1rem;
  border-left: 1px solid #777
}

nav[role=navigation] {
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0;
  text-align: right;
  text-transform: lowercase;
}

nav[role=navigation] a {
  border: none;
}

nav[role=navigation] a:before {
  content: 'ï¼';
}

nav[role=navigation] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav[role=navigation] ul li {
  display: inline;
  padding: 0.5rem;
}

pre {
  overflow-x: auto;
}

.commonform .conspicuous > p {
  font-style: italic;
  font-weight: bold;
}

.terminal {
  white-space: pre;
  background: black;
  border-radius: 0.2rem;
  color: white;
  padding: 1rem;
}

.comment {
  opacity: 0.5;
}

ins {
  color: darkgreen;
  text-decoration: underline;
}

del {
  color: darkred;
  text-decoration: line-through;
}

.machine {
  float: right;
  padding-bottom: 1rem;
  padding-right: 1rem;
  width: 250px;
}

.centered {
  text-align: center;
}

.logo {
  width: 100px;
}

.thanks {
  list-style-type: none;
  padding: 0 1rem 0 1rem;
}

.thanks li {
  padding: 0.5rem 0;
}

.lead {
  color: #666;
  font-size: 130%;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}

p {
  margin-top: 1rem;
  margin-bottom: 1em;
}

.explainer {
  display: block;
  margin: 1rem auto;
  text-align: center;
  width: 80%;
}

.signature {
  margin-left: 60%;
  max-width: 40%;
}

.features {
  margin: 0 auto;
  padding: 0;
  width: auto;
}

.features img {
  max-width: 3rem;
}

.features th,
.features td {
  padding: 1ex 3ex;
}

.features thead td,
.features thead th {
  text-align: center;
  vertical-align: baseline;
}

.features tbody th:first-child {
  text-align: right;
}

.features tbody td {
  text-align: center;
}

.licenseLogo {
  border: none;
}
